<div>
  <div class="container">
  <div class="text-center">
    <h1> Welcome to Movie Store</h1>
    <br>
  </div>
    <div *ngFor="let item of movieList; let i = index">
      <div class="row" *ngIf="i%3==0">
        <div class="col-4">
          <div class="card bg-secondary" style="width: 18rem;">
            <img class="card-img-top" src="/assets/angular2-logo.png" height="200" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{movieList[i].name}}</h5>
              <p class="card-text">{{movieList[i].description}}</p>
              <a class="btn btn-primary" routerLink="/movie-detail">View Movie</a>
            </div>
          </div>
        </div>
        <div *ngIf="i+1< movieList.length" class="col-4">
          <div class="card bg-secondary" style="width: 18rem;">
            <img class="card-img-top" src="/assets/angular2-logo.png" height="200" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{movieList[i+1].name}}</h5>
              <p class="card-text">{{movieList[i+1].description}}</p>
              <a class="btn btn-primary" routerLink="/movie-detail">View Movie</a>
            </div>
          </div>
        </div>
        <div *ngIf="i+2<movieList.length" class="col-4">
          <div class="card bg-secondary" style="width: 18rem;">
            <img class="card-img-top" src="/assets/angular2-logo.png" height="200" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{movieList[i+2].name}}</h5>
              <p class="card-text">{{movieList[i+2].description}}</p>
              <a class="btn btn-primary" routerLink="/movie-detail">View Movie</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
